.my-diary-box {
  width: 231px;
  height: 231px;
  border: 2px solid #707070;
  color: #414141;
}

.my-diary-datetime {
  width: 147px;
  height: 48px;
  margin: 16px;
}

.my-diary-datetime-text {
  width: 147px;
  height: 48px;
}

.my-diary-datetime-text-span {
  display: block;
}

.my-diary-notes {
  width: 200px;
  height: 132px;
  font-weight: 300;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.06px;
  margin: 16px;
}



